<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href='{{ app.router.static.url(filename="css/materialize.css") }}' />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
      .container {
        margin-top: 5%;
      }
      .log_switch {
        padding-top: 3px !important;
      }
    </style>
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src='{{ app.router.static.url(filename="js/materialize.min.js") }}'></script>
  </body>
</html>