{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
          <div class="card">
              <div class="card-content">
                  <span class="card-title black-text">Chat server dashboard</span>
                  <div class="row">
                    <div class="col s10">
                      <h5>Server statistics</h5>
                      <table class="responsive-table">
                        <tbody>
                          <tr>
                            <td>Users online</td>
                            <td>{{ users_stats.get('users_online', 0)}}</td>
                          </tr>
                          <tr>
                            <td>Users chatting</td>
                            <td>{{ users_stats.get('users_chatting', 0)}}</td>
                          </tr>
                          <tr>
                            <td colspan="2"><h5>Meet me with stranger</h5></td>
                          </tr>
                          <tr>
                            <td>Today</td>
                            <td>{{ match_me_with_stranger.get('today', 0)}}</td>
                          </tr>
                          <tr>
                            <td>Last Week</td>
                            <td>{{ match_me_with_stranger.get('last_week', 0)}}</td>
                          </tr>
                          <tr>
                            <td>Last Month</td>
                            <td>{{ match_me_with_stranger.get('last_month', 0)}}</td>
                          </tr>
                          <tr>
                            <td>Last 3 Months</td>
                            <td>{{ match_me_with_stranger.get('last_three_months', 0)}}</td>
                          </tr>
                          <tr>
                            <td>Last 6 Months</td>
                            <td>{{ match_me_with_stranger.get('last_six_months', 0)}}</td>
                          </tr>
                          <tr>
                            <td>Last Year</td>
                            <td>{{ match_me_with_stranger.get('last_year', 0)}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <form method="post" action="/change_logging">
                    <h5>Logging</h5>
                    <div class="row">
                      <div class="log_switch switch col s2">
                        <label>
                          Off
                          <input type="checkbox" name="logging_enabled" {% if logging_enabled %}checked{% endif %}>
                          <span class="lever"></span>
                          On
                        </label>
                      </div>
                      
                      <div class="col s1">
                        <span class="button">
                          <input type="submit" class="btn" value="save">
                        </span>
                      </div>

                    </div>

                  </form>
              </div>

          </div>
    </div>
  </div>
{% endblock %}