{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="row">
    <div class="col s6 offset-s3">
          <div class="card">
              <div class="card-content">
                  <span class="card-title black-text">Login</span>
                  <form method="post" action="">
                      <div class="row">
                          <div class="input-field col s12" style="text-align:center">
                              <input type="text" id="username" name="username" class="validate {% if error %}invalid{% endif %}" style="vertical-align:middle">
                              <label for="username" class="active">Username</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12" style="text-align:center">
                              <input type="password" id="password" name="password" class="validate {% if error %}invalid{% endif %}" style="vertical-align:middle">
                              <label for="password" class="active">Password</label>
                          </div>
                      </div>
                      {% if error %}
                        <span>User doesn't exist or password is invalid, please try again</span>
                      {% endif %}
                  <div class="card-action">
                      <input type="submit" class="btn" value="Login">
                  </div>

                  </form>
              </div>
          </div>
    </div>
  </div>
{% endblock %}